.addTask{
    &__item{
        display: block;
        margin-bottom: 20px;
    }
    &__input{
        width: 100%;
        margin: 10px 0;
        color: inherit;
        background: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #bababa;
        font-size: 1rem;
        outline: none;
    }
    &__submit{
        background: $letterpress-red;
        color: white;
        width: 100%;
        padding: $standard-padding;
        font-size: 1.3rem;
        text-align: center;
        outline: none;
        box-sizing: border-box;
        border: none;
        border-radius: 20px;

        &:hover{
            background: $main-red;
            cursor: pointer;
        }

        @media screen and (max-width: 640px){
            border-radius: 20px;
            margin-top: 50px;
        }
    }
}