.header{
    flex: 1;
    background: $norwegian-blue;
    padding: 15px;
    border-top-right-radius: $header-border-radius;
    border-bottom-right-radius: $header-border-radius;
    margin: 20px 0;
    color: white;

    @media all and (max-width: 640px){
        border-top-right-radius: 0;
        border-bottom-left-radius: $header-border-radius;
        margin-top: 0;
    }
}