body{
    background-color: $schibsted-gray;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    position: relative;

    @media all and (max-width: 640px){
        padding-bottom: 60px;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3{
    font-family: "Arial Black", Arial, sans-serif;
}

.boldText{
    font-weight: 700;
}
.center-text{
    text-align: center;
}
.redText{
    color: $letterpress-red;
}

.trackJU{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    min-height: 100vh;

    @media screen and (max-width: 640px){
        flex-direction: column;
    }
}
.main{
    flex: 3;
    position: relative;
    box-sizing: content-box;
}
.footer{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
    text-align: right;
    z-index: -1;
    padding-right: 22%;
    opacity: 0.5;

    @media all and (max-width: 640px){
        text-align: center;
    }
}