.navigation{
    margin-bottom: 30px;
    
    &__deleteTask,
    &__taskName,
    &__taskStatus{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    &__deleteTask{
        font-size: 0.8rem;
        font-weight: 700;
        color: red;
        opacity: 0;
        transition: $standard-transition;
        width: 12%;
        text-align: center;

        &:hover{
            cursor: pointer;
        }

        @media screen and (max-width: 640px){
            opacity: 1;
            width: 100%;
            text-align: center;
            height: 30px;
            line-height: 30px;
            padding: 0;
        }
    }
    &__tasksList{
        padding: 0;
        list-style: none;
    }
    &__tasksListItem{
        width: 95%;
        min-height: $listItem-height;
        box-shadow: 0 5px 5px rgba(0,0,0, 0.3);
        margin: 0 2.5% 15px;
        border-radius: 10px;
        position: relative;

        &.status{
            &--0{
                @include tasksListItem-status($main-blue);
            }
            &--1{
                @include tasksListItem-status($main-yellow);
            }
            &--2{
                @include tasksListItem-status($main-green);
            }
        }

        &:hover .navigation__deleteTask{
            opacity: 1;
            transition: $standard-transition;
        } 
    }
    &__taskName{
        font-size: 1.4rem;
        width: 55%;
        margin: 0;

        @media screen and (max-width: 640px){
            width: 100%;
        }
    }
    &__taskStatus{
        width: 32%;
        line-height: $listItem-height;
        text-align: center;

        &.status{
            &--0{
                @include taskStatus-status($main-blue);
            }
            &--1{
                @include taskStatus-status($main-yellow);
            }
            &--2{
                @include taskStatus-status($main-green);
                &:hover{
                    cursor: initial;
                }
            }
        }

        &:hover{
            cursor: pointer
        }

        @media screen and (max-width: 640px){
            width: 100%;
        }
    }
    &__subtitle,
    &__title{
        text-align: center;
    }
    &__subtitle{
        font-size: 0.8rem;
        opacity: 0.8;
        margin: 0 auto 25px;
    }
    &__title{
        margin-bottom: 0;
    }
}