// STANDARIZATION
$standard-transition: 0.5s ease-in-out;
$standard-padding: 15px;

// COLORS
$main-red: #d0001d;
$main-green: #0c682f;
$main-blue: #001c77;
$main-yellow: #e2c12f;
$schibsted-gray: #f8f6f5;
$norwegian-blue: #30588e;
$letterpress-red: #ff716b;

// SIZES
$listItem-height: 40px;

// BORDERS & BORDER-RADUISES
$header-border-radius: 40px;

@mixin tasksListItem-status($color){
    background-color: rgba($color, 0.05);
}
@mixin taskStatus-status($color){
    color: darken($color, 0.2);
    transition: $standard-transition;

    background: rgba($color,0);
    background: -moz-linear-gradient(left, rgba($color,0) 0%, rgba($color,0.1) 20%, rgba($color,0.1) 80%, rgba($color,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba($color,0)), color-stop(20%, rgba($color,0.1)), color-stop(80%, rgba($color,0.1)), color-stop(100%, rgba($color,0)));
    background: -webkit-linear-gradient(left, rgba($color,0) 0%, rgba($color,0.1) 20%, rgba($color,0.1) 80%, rgba($color,0) 100%);
    background: -o-linear-gradient(left, rgba($color,0) 0%, rgba($color,0.1) 20%, rgba($color,0.1) 80%, rgba($color,0) 100%);
    background: -ms-linear-gradient(left, rgba($color,0) 0%, rgba($color,0.1) 20%, rgba($color,0.1) 80%, rgba($color,0) 100%);
    background: linear-gradient(to right, rgba($color,0) 0%, rgba($color,0.1) 20%, rgba($color,0.1) 80%, rgba($color,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color, endColorstr=$color, GradientType=1 );
}